/*  your css code here. If applicable */
.block-heading{
	color: #3b99e0;
	text-align:center;
	margin-bottom:20px;
}
.para{
	width:100px;
}
.summary {
	padding: 20px;
    border-top: 1px solid #5ea4f3;
    border-bottom: 1px solid #5ea4f3;
    background-color: #f7fbff;
}

.summary button {
	background-color: #3b99e0;
   color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}